OPENAI_API_KEY=sk-df28b8205ecb407880ca7cf4ab7a30bd
OPENAI_API_BASE=https://api.deepseek.com
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT=03_enterprise_rag
# LANGSMITH_ENDPOINT=https://api.smith.langchain.com
# LANGSMITH_WORKSPACE_ID=your_workspace_id